<template>
    <div class="form-group row m-b-10">
        <label class="col-md-3 text-md-right col-form-label">Характеристики</label>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2">
                    <input type="text" placeholder="Имя" class="form-control" v-model="specif.key">
                </div>
                <div class="col-md-8">
                    <input type="text" placeholder="Значение" class="form-control" v-model="specif.value">
                </div>
                <div class="col-md-2">
                    <div class="text-center">
                        <div class="btn btn-success" @click="addSpecif()">Добавить</div>
                    </div>
                </div>
            </div>
            <input type="text" name="specifications" style="display: none;" placeholder="Валюта" class="form-control " :value="toJson()">
            <div class="row p-t-20">
                <div class="col-md-12">
                    <ul>
                        <li v-for="(s, i) in specifs" class="p-5" :key="i">{{s.key}} : {{s.value}} -  <div class="btn btn-success p-5" @click="editSpecif(i)">Редактировать</div><div class="btn p-5" @click="deleteSpecif(i)">Удалить</div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                specif:{
                    key:'',
                    value:'',
                },
                specifs: [],
                message: ''
            }
        },
        props:['specifications'],
        methods:{
            addSpecif(){
                if(this.specif.key != '' && this.specif.value != ''){
                    this.specifs.push(this.specif);
                    this.toZero();
                }
            },
            editSpecif(i){
                this.specif = this.specifs[i];
                this.specifs.splice(i, 1);
            },
            deleteSpecif(i){
                this.specifs.splice(i, 1);
            },
            toZero(){
                this.specif = {
                    key:'',
                    value:'',
                }
            },
            toJson(){
                return  JSON.stringify(this.specifs);
            }
        },
        beforeMount(){
            console.log(this.specifications);
            this.specifs = this.specifications ? this.specifications : [];
            this.specifs = JSON.parse(this.specifs);
            console.log(this.specifs);
        }
    }
</script>

<style scoped>

</style>