<template>
    <div id="content" class="content">
        <h1 class="page-header">Поиск и добавление товара</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="result-container">

                    <div class="input-group input-group-lg m-b-20">
                        <input type="text" class="form-control input-white" v-model="searchValue" @keyup.enter="search()" autofocus placeholder="Имя товара" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary" @click="search()">
                                <i class="fa fa-search fa-fw"></i>
                                Поиск
                            </button>
                            <button type="button" class="btn btn-primary dropdown-toggle no-caret">
                                <i class="fa fa-cog fa-fw" :class="{rotation:load}"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:;">Action</a></li>
                                <li><a href="javascript:;">Another action</a></li>
                                <li><a href="javascript:;">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Separated link</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="dropdown m-b-20 pull-left p-r-20">
                        <div>
                            Язык продукта
                        </div>
                        <div class="dropdown m-b-20 pull-left">
                            <select v-model="api_lang" class="form-control">
                                <option v-for="option in api_lang_options" v-bind:value="option.value">
                                    {{ option.text }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="dropdown m-b-20 pull-left p-r-20">
                        <div>
                            Выводить продуктов
                        </div>
                        <select v-model="api_limit" class="form-control">
                            <option v-for="option in api_limit_options" v-bind:value="option.value">
                                {{ option.text }}
                            </option>
                        </select>
                    </div>
                    <div class="dropdown m-b-20 pull-left p-r-20">
                        <div>
                            Сортировать
                        </div>
                        <select v-model="api_orderby" class="form-control">
                            <option v-for="option in api_orderby_options" v-bind:value="option.value">
                                {{ option.text }}
                            </option>
                        </select>
                    </div>
                    <div class="dropdown m-b-20 pull-left p-r-20">
                        <div>
                            Валюта товара
                        </div>
                        <select v-model="api_currency" class="form-control">
                            <option v-for="option in api_currency_options" v-bind:value="option.value">
                                {{ option.text }}
                            </option>
                        </select>
                    </div>
                    <div class="dropdown m-b-20 pull-left p-r-20">
                        <div>
                            Категории для поиска товара
                        </div>
                        <select v-model="api_categoriesList" multiple="multiple" class="form-control height-200">
                            <option v-for="option in api_categoriesList_options" v-bind:value="option.id">
                                {{ option.title }}
                            </option>
                        </select>
                    </div>

                    <div class="dropdown m-b-20 pull-right p-r-20">
                        <div>
                            Добавить товар в категорию
                        </div>
                        <select v-model="cat.ids" multiple="multiple" class="form-control height-200">
                            <option value="">
                                Без категории
                            </option>
                            <option v-for="(category) in cat.categories" v-bind:value="category.id">
                                {{ category.name }}
                            </option>
                        </select>
                    </div>

                    <ul class="result-list" v-if="!load">
                        <li v-for="(product, index) in products" style="width: fit-content;">
                            <a href="#" class="result-image" :style="{backgroundImage: 'url(\'' + product.picture + '\')' }"></a>
                            <div class="result-info">
                                <h4 class="title"><a href="javascript:;">{{product.name}}</a></h4>
                                <p class="location">United State, BY 10089</p>
                                <p class="desc">
                                    {{product.name}}
                                </p>
                                <div class="btn-row">
                                    <a :href="product.url" data-toggle="tooltip" data-container="body" data-title="Users">Перейти на сайт<i class="fa fa-fw fa-user"></i></a>
                                </div>
                            </div>
                            <div class="result-price">
                                 {{product.price}} <small> {{product.currency}}</small>
                                <i class="fas fa-sync fa-spin" v-if="storeProductLoader" ></i>
                                <a @click="storeProduct(index)" v-else="storeProductLoader" class="btn btn-yellow btn-block">Добавить товар</a>
                            </div>
                        </li>
                    </ul>
                    <div class="result-list" v-else>
                        <i class="fas fa-sync fa-spin" style="font-size: 26px; text-align: center;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                searchValue: '',
                products: '',
                cat : {
                    ids : [],
                    indexes : [],
                    categories : '',
                },

                load: false,

                storeProductLoader: false,
                api_limit: '50',
                api_limit_options: [
                    { text: '2', value: '2' },
                    { text: '10', value: '10' },
                    { text: '20', value: '20' },
                    { text: '50', value: '50' },
                    { text: '100', value: '100' }
                ],
                api_lang: 'ru',
                api_lang_options: [
                    { text: 'RU', value: 'ru' },
                    { text: 'EN', value: 'en' }
                ],
                api_currency: 'UAH',
                api_currency_options: [
                    { text: 'Гривны', value: 'UAH' },
                    { text: 'Рубли', value: 'RUR' },
                    { text: 'Доллары', value: 'USD' },
                    { text: 'Евро', value: 'EUR' },
                    { text: 'Казахстанский тенге', value: 'KZT' },
                    { text: 'Белорусский рубль', value: 'BYR' }
                ],
                api_orderby: '',
                api_orderby_options: [
                    { text: 'по релевантности', value: '' },
                    { text: 'в случайном порядке', value: 'rand' },
                    { text: 'по цене', value: 'price' },
                    { text: 'по комиссии', value: 'commission_rate' },
                    { text: 'по дате добавления', value: 'added_at' },
                    { text: 'по количеству заказов за последние 30 дней продаж', value: 'orders_count' },
                ],
                api_categoriesList: [],
                api_categoriesList_options: [
                    { 'id' : '', 'title' : 'По всем категориям', },
                    { 'id' : 6, 'title' : 'Бытовая техника', },
                    { 'id' : 7, 'title' : 'Компьютерная техника и ПО', },
                    { 'id' : 13, 'title' : 'Обустройство дома', },
                    { 'id' : 15, 'title' : 'Дом и сад', },
                    { 'id' : 18, 'title' : 'Спорт и отдых', },
                    { 'id' : 21, 'title' : 'Офисные и школьные принадлежности', },
                    { 'id' : 26, 'title' : 'Игрушки и хобби', },
                    { 'id' : 30, 'title' : 'Безопасность и защита', },
                    { 'id' : 34, 'title' : 'Авто и мото', },
                    { 'id' : 39, 'title' : 'Лампы и освещение', },
                    { 'id' : 44, 'title' : 'Электроника', },
                    { 'id' : 66, 'title' : 'Красота и здоровье', },
                    { 'id' : 322, 'title' : 'Обувь', },
                    { 'id' : 502, 'title' : 'Электронные компоненты и комплектующие', },
                    { 'id' : 509, 'title' : 'Телефоны и телекоммуникации', },
                    { 'id' : 1420, 'title' : 'Инструменты', },
                    { 'id' : 1501, 'title' : 'Мамам и малышам', },
                    { 'id' : 1503, 'title' : 'Мебель', },
                    { 'id' : 1509, 'title' : 'Ювелирные украшения', },
                    { 'id' : 1511, 'title' : 'Часы', },
                    { 'id' : 1524, 'title' : 'Сумки и чемоданы', },
                    { 'id' : 100003070, 'title' : 'Мужская одежда и аксессуары', },
                    { 'id' : 100003109, 'title' : 'Женская одежда и аксессуары', },
                    { 'id' : 100003235, 'title' : 'Свадьбы и торжества', },
                    { 'id' : 200000875, 'title' : 'Оригинальные и нестандартные товары', },
                    { 'id' : 200002489, 'title' : 'Накладные волосы и парики', }
                ],
            }
        },
        props: ['categories'],
        methods: {
            search: function () {
                this.load = true;
                let params = {};
                params.search  = this.searchValue;
                params.api_lang  = this.api_lang;
                params.api_limit = this.api_limit;
                params.api_orderby = this.api_orderby;
                params.api_categoriesList = this.api_categoriesList;
                params.api_currency = this.api_currency;


                axios.post(route('dashboard.store.partner.products.search'), params).then((response) => {
                        this.products = response.data;
                    })
                    .catch((error) => {
                        // console.log(error);
                    })
                    .then(() => {
                        this.load = false;
                    });
            },

            storeProduct(index){
                this.storeProductLoader = true;

                let product = this.products[index];

                product.p_id = product.product_id;
                product.p_category_id = product.id_category;

                product.api_lang  = this.api_lang;
                product.api_limit = this.api_limit;

                product.categories = [];

                if(this.cat.ids){
                    product.categories = this.cat.ids;
                }

                delete product.id;

                axios.post(route('dashboard.store.products.store'), product).then(response => {
                    this.products.splice(index, 1);
                }).catch(error => {
                    console.log('error', error.data);
                }).then(() => {
                    this.storeProductLoader = false;
                });
            },
        },
        beforeMount(){
            this.cat.categories = this.categories;
        }
    }
</script>

<style scoped>
    .rotation{
        animation: a 1s infinite linear;
    }
</style>