<template>
    <div class="review-form">
        <form name="review_form" v-on:submit.prevent="newComment">
            <h2>Оставить отзыв</h2>
            <div class="form-group">
                <label for="title">Заголовк <span class="text-danger">*</span></label>
                <input type="title" v-model="comment.title" class="form-control" id="title" />
            </div>
            <div class="form-group">
                <label for="review">Отзыв <span class="text-danger">*</span></label>
                <textarea class="form-control" v-model="comment.text" rows="8" id="review"></textarea>
            </div>
            <div class="form-group">
                <label for="rating">Оценка <span class="text-danger">*</span></label>
                <i class="fa fa-star mr-12 fz-16 pointer"
                   v-for="number in 5"
                   :class="{activrStar: activeRating(number)}"
                   @click="clickStar(number)"
                >
                </i>
            </div>
            <button v-buttonLoader="loaderActive" :disabled="loaderActive" type="submit" class="loader btn btn-inverse btn-lg">Добавить комментарий</button>
        </form>
        <div class="p-t-20">
            <div v-show="errorData" class="text-center alert alert-danger">
                <span>Некорректные данные, попробуйте еще раз</span>
            </div>
        </div>
        <div class="p-t-20">
            <div v-show="sendTrue" class="text-center alert alert-success">
                <span>Комментарий добавлен</span>
            </div>
        </div>
    </div>
</template>

<script>
    const axios = require('axios');

    export default {
        data(){
            return{
                comment:{
                    assessment: 1,
                    title: '',
                    text: '',
                    product_id: this.id,
                },
                loaderActive: false,
                errorData: false,
                sendTrue: false,
            }
        },
        props:['id'],
        methods:{
            activeRating: function(number){
                return (this.comment.assessment >= number)? true : false;
            },
            clickStar: function(number){
                this.comment.assessment = number;
            },
            newComment: function(e){
                let self = this;
                self.loaderActive = true;
                axios.post(route('frontend.comments.store'), this.comment)
                    .then(function (response) {
                        self.loaderActive = false;
                        self.$emit('newComment', response.data);
                        self.comment.title = '';
                        self.comment.text = '';
                        self.sendTrue = true;
                        setTimeout(function () {
                            self.sendTrue = false;
                        }, 5000)
                    })
                    .catch(function (error) {
                        self.loaderActive = false;
                        if(error.response.status === 422){
                            self.errorData = true;
                            setTimeout(function () {
                                self.errorData = false;
                            }, 5000)
                        }
                    });
            }
        }
    }
</script>
