<template>
    <div class="row row-space-30">
        <div class="col-md-7">
            <comment-item-product-component :comments="allComments"></comment-item-product-component>
        </div>
        <div class="col-md-5">
            <comment-form-product-component v-if="authCheck" :id="id" v-on:newComment="addNewComment"></comment-form-product-component>
            <div v-else>
                Чтобы оставить комментарий, войдите в свою учётную запись
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                allComments: this.comments,
            }
        },
        props:['comments', 'id', 'authCheck'],
        methods:{
            addNewComment: function(comment){
                this.allComments.push(comment);
            },
        },
    }
</script>